.tile {
  border: 1px solid #000000aa;
  width: 1.5rem;
  height: 1.5rem;
}

.start {
  background: #28a745;
}

.target {
  background: #dc3545;
}

.unvisited {
  background: white;
}

.visited {
  background: #007bffaa;
  animation: path-animation 0.5s ease-out forwards;
}

.wall {
  background: #343a40;
}

.path {
  background: #ffc107;
  animation: path-animation 0.5s ease-out forwards;
}

@keyframes path-animation {
  0% {
    clip-path: circle(0% at center);
  }
  100% {
    clip-path: circle(100% at center);
  }
}
